.order-details-wrapper {
    padding: 50px 35px;
    background-color: #f5f5f5;
}

.order-details-container {
    display: flex;
justify-content: space-around;

    .order-details-nav {

        .OD-client-info {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 20px;

            &>span {
                padding: 25px;
                background-color: #0c45f5;
                border-radius: 100px;
                color: white;
                font-size: 25px;
            }

            & a {
                text-decoration: none;
                color: black;
            }

        }

        .nav {
            display: flex;
            flex-direction: column;
            gap: 14px;

            &>div {
                display: flex;
                cursor: pointer;
                justify-content: space-between;
                font-size: 18px;

                &>i {
                    display: none;
                }


                &:hover {
                    color: #0c45f5;

                    &>i {
                        display: initial;
                    }

                }
            }
        }
    }
}




.detail_types {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 40px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.detail_types :hover {
    scale: 1.05;
    color: red;
    transition: 0.3s;
}

.orders_fix div {
    padding: 40px;
    display: flex;
justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 65vw;
    margin-bottom: 10px;

}

.orders_fix div span {
    font-weight: 700;
}

.orders_fix div p {
    align-items: center;
    font-weight: 400;
    margin: 0;
}

.orders_fix {
    padding-top: 40px;
}